<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div id="app">

    		<div class="container">
		  <h2>代辦事項</h2>
		  <p>項目</p>
                <form method="get">
                <input placeholder="請輸入待辦事項" class="base-input__inner"><br>

                <button class="base-button default sm" style="min-width: 100px;" type="submit"><!---->送出<!----></button>
                </form>

                <div class="error-field"><!----></div>
		  <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#home">待完成</a></li>
		    <li><a data-toggle="tab" href="#menu1">已完成</a></li>
		  </ul>
		  <div class="tab-content">
		    <div id="home" class="tab-pane fade in active">
		      <p></p>
		    </div>
		    <div id="menu1" class="tab-pane fade">
		      <p></p>
		    </div>

		  </div>
		</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </div>
</body>
</html>